Database Theory/TBP - aplikacija/Scheme/racun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="racuni">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="racun" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="oznaka" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="naziv" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="email" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="fax"/>
                            <xs:element name="tel"/>
                            <xs:element name="nazivPlatitelja" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="emailPlatitelja" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="faxPlatitelja"/>
                            <xs:element name="telPlatitelja"/>
                            <xs:element name="datumIzdavanja" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="items">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="oznaka" minOccurs="1" maxOccurs="1" type="xs:positiveInteger"/>
                                                    <xs:element name="Naziv" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                                    <xs:element name="iznos" minOccurs="1" maxOccurs="1" type="xs:decimal"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>